# Environment Configuration
RPC_ENDPOINT=https://services.tanssi-mainnet.network/tanssi-2004
START_BLOCK=0

# Aggregation Configuration
AGGREGATION_INTERVAL_MINUTES=10

# Database Configuration
DB_HOST=localhost
DB_PORT=23798
DB_NAME=squid
DB_USER=postgres
DB_PASS=postgres

